.overlay {
  visibility: visible;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.61);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: white;
  width: 40vw;
  height: 15rem;
  border-radius: 5px;
  border: 0.2rem solid black;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.closeBtn {
  background-color: grey;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  position: absolute;
  top: 1rem;
  right: 1rem;
}
